<%= content_for :title do %>
  <h1>About 96k Maratha </h1>
<% end %>
<div>
<p> I heard about 96k Maratha clan system first time, when my family was preparing for my elder brother’s wedding. I heard my father mentioning about Devak and Gothra and other details from marriage proposals. I was curious to know more about this system and I discovered some (inaccurate) information on web. Later I discussed this topic with many people including historians, local Brahmins and other elderly people from society. Realizing that not most of information is credible and accountable, I somehow was on verge of giving up research on this particular topic but it was not end...it was just beginning... my entrepreneur spirit decided my fate….and maratha96kuli .com was borne…!!!   </p>
</div>
<div>
<p> Idea of this platform is to share available information with whole Maratha community.This collaboration will help them to spread awareness.As more information will be available, they can take more informed decision .Today “maratha” community is nicknamed and rebranded as “caste”. Accurate and accountable information flow will eliminate misconceptions and abhorr blind adherence to and glorification of tradition which some are not true</p>
</div>
<div>
<p> This is whole thought process behind building this collaboration platform. Maratha96kuli.com is idea and conception  of our both ,me and my wife . We are (Suhas and Poonam) are happily married couple from year 2010. We both are computer engineers with postgraduates in computer science from renowned university from Singapore. </p>
</div>
<div>
<P> <a>Please share your thoughts and opinion.We will be happy to hear you...</a>
 <a maratha96kuli.com</a>
</p>
</div>




