<div class="row">
  <div class="col-md-8">
    <h1>संबंधित  आडनावाबद्दल  आपले  विचार  किंवा  प्रश्न आपण  खाली लिहा  </h1>
    <p class="lead"> या सदरातील  लोकप्रिय टीका-टिप्पणी </p>
    <%= render partial: 'posts/post', collection: @posts, locals: { show_topic: true } %>
    <%= will_paginate @posts %>
  </div>
  <div class="col-md-4">
  </div>
</div>
